html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#mapDiv {
    height: 100%;
    padding: 0;
    margin: 0;
}

#borderContainer {
    width: 100%;
    height: 100%;
}

#sideBarR {
    /*display: none;*/
    position: absolute;
    height: 100%;
    right: 0;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: white;
    z-Index: 20;
}

#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-Index: 50;
}

#buttonsR {
    position: absolute;
    right: 10px;
    top: 10px;
    z-Index: 40;
}

/*#btnClose {
    z-Index: 50; 
}*/

/*.displayButton {
    z-Index: 40;
}*/

